{% extends "adm12/admin base.html" %}
{% block content %}

<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Students Data</h5>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">NAME</th>
      <th scope="col">PROFILE PIC</th>
      <th scope="col">DOB</th>
      <th scope="col">PHONE</th>

    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
        <td><img src="{{i.profile_pic.url}}" style="width:100px"></td>
      <td>{{i.dob}}</td>
      <td>{{i.phone}}</td>



    </tr>
{% endfor %}
  </tbody>
  </table>



{% endblock %}

  </div>
</div>

